on:
  push:
    branches:
      - main
name: "Test i9rfs"
jobs:
  Tests:
    runs-on: ubuntu-latest
    services:
      neo4j:
        image: 'neo4j:latest'
        ports:
          - '7687:7687'
        env:
          NEO4J_AUTH: "neo4j/pass#w%rd"

    strategy:
      matrix:
        go-version:
          - 1.24.x
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '${{ matrix.go-version }}'

      - name: Build server
        run: go build -o i9rfs_server

      - name: Start server
        run: ./i9rfs_server &
        env:
          NEO4J_URL: "neo4j://localhost"
          NEO4J_USER: neo4j
          NEO4J_PASSWORD: "pass#w%rd"
          AUTH_JWT_SECRET: ${{ secrets.AUTH_JWT_SECRET }}
          COOKIE_SECRET: ${{ secrets.COOKIE_SECRET }}
          MAILING_EMAIL: ${{ secrets.MAILING_EMAIL }}
          MAILING_PASSWORD: ${{ secrets.MAILING_PASSWORD }}
          GCS_BUCKET: ${{ vars.GCS_BUCKET }}
          GCS_API_KEY: ${{ secrets.GCS_API_KEY }}
          SERVER_HOST: ${{ vars.SERVER_HOST }}
          DUMMY_VERF_TOKEN: ${{ secrets.DUMMY_VERF_TOKEN }}
          GO_ENV: test

      - name: Run Test
        run: sleep 5; cd ./tests && go test ./... -v -race
        env:
          NEO4J_URL: "neo4j://localhost"
          NEO4J_USER: neo4j
          NEO4J_PASSWORD: "pass#w%rd"
          DUMMY_VERF_TOKEN: ${{ secrets.DUMMY_VERF_TOKEN }}