on:
  push:
    branches:
      - main
name: "Test i9rfs"
permissions:
  contents: read
jobs:
  Tests:
    runs-on: ubuntu-latest
    services:
      neo4j:
        image: "neo4j:latest"
        ports:
          - "7687:7687"
        env:
          NEO4J_AUTH: "neo4j/pass#w%rd"

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install Node deps
        run: npm ci

      - name: Run Test
        run: npm test
        env:
          NEO4J_URL: "neo4j://localhost"
          NEO4J_USER: neo4j
          NEO4J_PASSWORD: "pass#w%rd"
          AUTH_JWT_SECRET: ${{ secrets.AUTH_JWT_SECRET }}
          COOKIE_SECRET: ${{ secrets.COOKIE_SECRET }}
          MAILING_EMAIL: ${{ secrets.MAILING_EMAIL }}
          MAILING_PASSWORD: ${{ secrets.MAILING_PASSWORD }}
          GCS_BUCKET: ${{ vars.GCS_BUCKET }}
          GCS_API_KEY: ${{ secrets.GCS_API_KEY }}
          SERVER_HOST: ${{ vars.SERVER_HOST }}
          DUMMY_TOKEN: ${{ secrets.DUMMY_VERF_TOKEN }}
          NODE_ENV: remote_test
